body[data-theme="dark"] {
  background-color: #001529;
  color: #ffffff;
}

body[data-theme="light"] {
  background-color: #ffffff;
  color: #000000;
}

.ant-menu-light .ant-menu-item {
  color: "white";
  outline-color: "white";
}

#simulacoes {
  display: grid;
  height: auto;
}

/* Flexbox styles for horizontal scrolling */
.horizontal-scroll {
  /* display: flex; */
  /* overflow-x: auto; */
  /* white-space: nowrap; */

}

.horizontal-scroll > div {
  display: inline-grid;
  margin: 10px;
    white-space: nowrap;
}

.add-button {
  border-radius: 40px;
}
